<!doctype html>
<html lang='en'>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
 
        <fieldset>
          <% for (var i in urls) { %>

              <a href='/u/<%=urls[i].shortURL%>'><%= urls[i].shortURL %></a>: <%= urls[i].longURL %>        ---localhost:8080/u/<%=urls[i].shortURL%>
              

              <section>

                <a href="/urls/<%= urls[i].shortURL %>">Update</a>
                <form method="POST" action="/urls/<%= urls[i].shortURL %>/delete">
                  <input type="submit" value="Delete">
                </form>


              <hr />  

              </section>

              <% } %>
    </fieldset>
    <a href="/urls/new">Add New URL</a>
  </body>
</html>